body{
    background-color: white;
    width: 97vw;
    height: 200vw;
}
main{
    background-color: #f3f802;
    margin-top: 1vw;
    border: 1px solid black;
}
header{
    width: 94vw;
    height: 24vw;
    margin-top: 2vw;
    margin-left: 1vw;
    background-color: white;
    display: flex;
    justify-content: center;    
}
#headerText{
    font-size: 7vw;
    font-family:'Roboto Flex', sans-serif;      
    align-self: center ;
    color: red;  
    float: right; 
   
}

#imgHeader{
    position: relative;
    left: 1vw;
    width: 25vw;
        
}

#screen{
    width: 94vw;
    height: 68vw;
    border: 1px solid black;
    margin-top: 2vw;
    margin-left: 1vw;
    display: flex;
    flex-direction: row;
    background: black;
    padding-top: 10%;
    padding-bottom: 10%;
}

#screen .side {
    width: 10%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding-top: 14px;
    padding-bottom: 14px;
}

#screen #screen-game {
    background: #5C5042;
    height: 100%;
    width: 80%;
}


#controls{
    width: 94vw;
    height: 24vw;
    border: 1px solid black;
    margin-top: 2vw;
    margin-left: 1vw;
    display: flex;
    justify-content: center;
    justify-content: space-around;
}
#control{
    width: 92vw;
    height: 15vw;
    display: flex;
    flex-wrap: wrap;
}
img {
    width:10vw;
    
}

.cashregister {
    width:207px ;
    height: 10px;
    border: 1px solid;
    background: #000;
    margin-left: 209px;
    margin-top:20px;
}

.cash {
    width:200px ;
    height: 1px;
    background: rgb(32, 9, 162);
    margin-left: 4px;
    margin-top: 4px;
 
}


#panel{
    background-color: black;
    display: flex;
    justify-content: center;
    width: 94vw;
    height: 72vw;
    border: 1px solid black;
    margin-top: 2vw;
    margin-left: 1vw;
    font-family: monospace;
}
.panel{
    width: 45vw;
    height: 68vw; 
    border: 1px solid black;
    margin: auto;
    margin-top: 2vw;
}



#players{
    width: 45vw;
    height: 68vw;
    border: 1px solid black;
    display: inline-block;
    margin-top: 2vw;
    margin-left: 1vw;
}
#options{
    width: 45vw;
    height: 68vw;
    border: 1px solid black;
    margin-top: 2vw;
    float: right;
    margin-right: 1vw;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}


.options{
    display: flex;
    align-items: center;
    font-size: 2vw;
    color:  yellow;
    margin-top: 2vw;
    margin-right: 1vw;
}
.input{
    margin-top: 2vw;
    margin-bottom: 2vw;
    margin-left: 2vw;
}
label{
   margin-left: 2vw;
}
