*{
    font-family: 'Lekton', sans-serif;
}
@font-face {
    font-family: 'game_over';
    src: url("./PressStart2P-Regular.ttf") format("truetype");
    font-style: italic;  
}
body{
    background-color: white;
    width: 97vw;
    height: 100vh;
}
main{
    background-color: #F8C40D;
    margin-top: 1vw;
    border: 1px solid black;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100vh;
<<<<<<< HEAD
=======

>>>>>>> 0636bb27693f75ffeeb59dafd0a158e5d90b083f
}

header{
    width: 92vw;
    height: 15vw;
    margin-top: 2vw;
    background-color: white;
    display: flex;
    justify-content: center;    
    border: 2vw solid black;
}
#headerText{
    font-size: 4vw;
    font-weight: 300;
    font-family:"game_over"; 
    padding: 1vw;   
    color: red;  
    text-align: center;
    margin-top: 2vw;
    width: 60vw;
}
<<<<<<< HEAD
=======

>>>>>>> 0636bb27693f75ffeeb59dafd0a158e5d90b083f
#logo{
    position: absolute;
    left: 5vw;
    width: 18vw;
    height: auto;
<<<<<<< HEAD
    margin-top: 1vw;        
}
=======
    margin-top: 1vw;
        
}


>>>>>>> 0636bb27693f75ffeeb59dafd0a158e5d90b083f
#screen{
    width: 92vw;
    height: 68vw;
    border: 1px solid black;
    margin-top: 2vw;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    background: black;
    padding-top: 10%;
    padding-bottom: 10%;
}
#screen .side {
    width: 10%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
<<<<<<< HEAD
=======

>>>>>>> 0636bb27693f75ffeeb59dafd0a158e5d90b083f
}
#screen #screen-game {
    background: #5C5042;
    height: 100%;
    width: 76%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
<<<<<<< HEAD
    background-image: url(/Imágenes/abduccion.webp);
    background-size: 80vw;
    opacity: 0.5;
}
h1 {
    font-family: "game_over";
    color: rgb(255, 0, 0);
    text-align: center;
    font-size: 5vw;    
    opacity: 1;
}
#start{
    width: 25vw;
}
=======
}

h1 {
    font-family: "game_over";
    color: red;
    text-align: center;
}

>>>>>>> 0636bb27693f75ffeeb59dafd0a158e5d90b083f
#controls{
    width: 94vw;
    height: 8vh;
    margin-top: 1vh;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
<<<<<<< HEAD
}
#control{
    margin-top: 2vw;
    width: 90%;
    display: flex;
    justify-content: space-between;
=======
>>>>>>> 0636bb27693f75ffeeb59dafd0a158e5d90b083f
}
#control{
    margin-top: 2vw;
    width: 90%;
    display: flex;
    justify-content: space-between;
}



img {
    width:9vw;
    height:9vw;
}
.cashregister {
    width: 92vw;
    height: 1vh;
    background-color: black;
    margin-top: 0.5vh;
}
.cash {
    width: 92vw;
    height: 1px;
    background: rgb(32, 9, 162);
    margin-top: 0.5vh;
}
#panel{
    background-color: black;
    display: flex;
    justify-content: center;
    row-gap: 1vw;
    width: 92vw;
    height: 38vh;
    border: 1px solid black;
    margin-top: 2vh;
    bottom: 2vh;
    font-family: monospace;
}
<<<<<<< HEAD
=======


>>>>>>> 0636bb27693f75ffeeb59dafd0a158e5d90b083f
output {
    height: 90%;
    width: 42%;
}
<<<<<<< HEAD
=======


>>>>>>> 0636bb27693f75ffeeb59dafd0a158e5d90b083f
#participants {
    border: 6px solid lightgray;
    background-color: #403D36;
    margin-top: 2vw;
    float: right;
    margin-right: 1vw;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    line-height: 0px;
<<<<<<< HEAD
    overflow-y: auto;
    font-size: 5vw;
    color: whitesmoke;
    font-family: "lekton";
}
=======
    
    font-size: 3vw;
    color: whitesmoke;
    font-family: "lekton";
}


>>>>>>> 0636bb27693f75ffeeb59dafd0a158e5d90b083f
#options{
    width: 45%;
    height: 35vh;
    border: 1px solid black;
    margin-top: 2vh;
    display: flex;
    flex-direction: column;
}
.options{
    display: flex;
    align-items: center;
    font-size: 4vw;
    color:  yellow;
    margin-top: 2vw;
    border: 1px solid black;
}
<<<<<<< HEAD
=======

>>>>>>> 0636bb27693f75ffeeb59dafd0a158e5d90b083f
#writeName{
    width: 99%;
    height: 8%;
    margin-top: 10px;
    margin-bottom: 10px;
}

label{
    margin-left: 10px;
<<<<<<< HEAD
}
=======
}

>>>>>>> 0636bb27693f75ffeeb59dafd0a158e5d90b083f
